Importing the data from the drive

In [72]:
import pandas as pd

In [73]:
financial_information=pd.read_csv('finanical_information.csv')
payment_information=pd.read_csv('payment_information.csv')
subscription_information=pd.read_csv('subscription_information.csv')
industry_client_details=pd.read_csv('industry_client_details.csv')

# Problem 1

#### How many finance lending and blockchain clients does the organization have?

In [74]:
print("Number of clients in financial lengind and blockchain industry are:")

Number of clients in financial lengind and blockchain industry are:

In [75]:
group_similar_industry_clients=industry_client_details.groupby('industry')
# grouping client belonging to same industry

In [76]:
count_unique_clients=group_similar_industry_clients['client_id'].nunique()
# counting unique clients only by referring to their respective client id

In [77]:
clients_of_the_industry=count_unique_clients.loc[['Block Chain','Finance Lending']]
# filtering out the clients which only belong to industry of block chain and financial lending

In [78]:
print(clients_of_the_industry)

industry
Block Chain        25
Finance Lending    22
Name: client_id, dtype: int64

# Problem 2

#### Which industry in the organization has the highest renewal rate?

solution approach:

to find the highest renewal rate we need to find number of renewals made organization/industry wise and based on it we will find individual renewal rate per organization

in the ouput we need to show the industry name which we can fetch from the table industry_client_details and we also need to calculate the renewal rate which we can fetch from the subscription_information table

we need to merge these two tables inorder to display the final result

In [79]:
subscription_with_industry=pd.merge(subscription_information,industry_client_details,on='client_id',how='left')
# merged on basis of primary key of client_id and it is the common column of both the tables

In [80]:
subscription_with_industry.dtypes

client_id             int64
subscription_type    object
start_date           object
end_date             object
renewed                bool
company_size         object
industry             object
location             object
dtype: object

In [81]:
subscription_with_industry['renewed'].unique()

array([False,  True])

Now we need to group the rows on basis of  industry

In [82]:
group_industry=subscription_with_industry.groupby('industry')

count number of renewals made

In [83]:
total_client=group_industry['client_id'].count()

In [84]:
total_client

industry
AI                 11
Block Chain        25
Finance Lending    22
Gaming             22
Hyper Local        20
Name: client_id, dtype: int64

In [85]:
total_renewals=group_industry['renewed'].sum()

In [86]:
total_renewals

industry
AI                  7
Block Chain        11
Finance Lending    12
Gaming             16
Hyper Local         9
Name: renewed, dtype: int64

Now we can find the renewal rate

In [87]:
industry=pd.DataFrame({'total_client':total_client,'renewals':total_renewals})

In [88]:
industry['renewal_rate']=industry['renewals']/industry['total_client']

In [89]:
industry

                 total_client  renewals  renewal_rate
industry
AI                         11         7      0.636364
Block Chain                25        11      0.440000
Finance Lending            22        12      0.545455
Gaming                     22        16      0.727273
Hyper Local                20         9      0.450000

# Problem 3

#### What was the average inflation rate when their subscriptions were renewed?

solution approach: 

we can take the required information by comparing the dates  in the financial_information table with the subscription_information table when client was doing the subscription

for that we need to filter the clients who have renewed

In [90]:
renewed_clients=subscription_information[subscription_information['renewed']==True]

In [91]:
renewed_clients

     client_id subscription_type  start_date    end_date  renewed
1   4309371709           Monthly  2021-05-24  2021-06-23     True
2   3183675157            Yearly  2021-12-25  2022-12-25     True
3   5371694837           Monthly  2020-03-14  2020-04-13     True
5   7896208406            Yearly  2022-02-24  2023-02-24     True
6   4687291312            Yearly  2019-06-14  2020-06-13     True
7   7744303708            Yearly  2022-10-11  2023-10-11     True
8   6038028440            Yearly  2018-12-03  2019-12-03     True
9   6955217420           Monthly  2019-07-07  2019-08-06     True
11  6209923307           Monthly  2021-07-05  2021-08-04     True
14  4280387012            Yearly  2022-11-25  2023-11-25     True
15  5980553707            Yearly  2021-08-30  2022-08-30     True
22  6751372012           Monthly  2018-05-29  2018-06-28     True
23  5217987067           Monthly  2019-07-19  2019-08-18     True
26  5536015034           Monthly  2019-11-15  2019-12-15     True
27  8155233099           Monthly  2020-06-03  2020-07-03     True
28  4194777577           Monthly  2021-12-18  2022-01-17     True
29  9699223737            Yearly  2018-04-03  2019-04-03     True
33  7462725203           Monthly  2018-05-21  2018-06-20     True
35  5443254615            Yearly  2020-06-25  2021-06-25     True
38  2490056820           Monthly  2020-04-04  2020-05-04     True
39  4760390973            Yearly  2022-01-06  2023-01-06     True
41  8988409533            Yearly  2020-05-15  2021-05-15     True
42  5762095219           Monthly  2021-06-02  2021-07-02     True
43  7776577102           Monthly  2020-12-17  2021-01-16     True
44  6366816003           Monthly  2022-02-17  2022-03-19     True
45  3325348894           Monthly  2019-07-09  2019-08-08     True
47  5387264885           Monthly  2022-03-06  2022-04-05     True
49  2609337231           Monthly  2020-11-04  2020-12-04     True
53  3758633299           Monthly  2021-04-24  2021-05-24     True
55  5983139564            Yearly  2020-03-29  2021-03-29     True
57  9031632460            Yearly  2019-07-06  2020-07-05     True
60  3185596104           Monthly  2022-11-14  2022-12-14     True
61  7225516707            Yearly  2021-01-19  2022-01-19     True
64  6774252233           Monthly  2018-12-12  2019-01-11     True
65  3683504527           Monthly  2018-04-12  2018-05-12     True
66  8207710174           Monthly  2018-12-19  2019-01-18     True
67  8719792472            Yearly  2018-02-10  2019-02-10     True
69  4343385571            Yearly  2018-11-28  2019-11-28     True
71  1089413096           Monthly  2019-04-21  2019-05-21     True
72  9329180414           Monthly  2021-06-03  2021-07-03     True
74  2315920532           Monthly  2019-04-01  2019-05-01     True
76  9626357024           Monthly  2022-09-25  2022-10-25     True
77  3510240337            Yearly  2020-12-07  2021-12-07     True
81  8884551090            Yearly  2022-09-02  2023-09-02     True
82  5698091148           Monthly  2020-08-04  2020-09-03     True
85  7465144773           Monthly  2021-09-07  2021-10-07     True
87  1298566280            Yearly  2019-09-01  2020-08-31     True
89  8004867726           Monthly  2019-06-16  2019-07-16     True
90  6292156167            Yearly  2019-09-16  2020-09-15     True
93  9842414729           Monthly  2022-11-11  2022-12-11     True
95  4519356806           Monthly  2018-03-04  2018-04-03     True
96  9714663815           Monthly  2020-11-11  2020-12-11     True
97  9598980006           Monthly  2019-06-16  2019-07-16     True
98  3157098196           Monthly  2021-11-11  2021-12-11     True
99  8540187780           Monthly  2021-02-16  2021-03-18     True

creatign a common column to join both tables

In [ ]:
renewed_clients['key']=1
financial_information['key']=1

C:\Users\aksha\AppData\Local\Temp\ipykernel_13636\662198193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renewed_clients['key']=1

In [93]:
table_join=pd.merge(renewed_clients,financial_information,on='key').drop('key',axis=1)

joined both tables on basis of our common column

In [94]:
filter_row=table_join[(table_join['start_date_x']>=table_join['start_date_y'])&(table_join['start_date_x']<=table_join['end_date_y'])]

In [95]:
filter_row['inflation_rate']=filter_row['inflation_rate']

C:\Users\aksha\AppData\Local\Temp\ipykernel_13636\4042592179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_row['inflation_rate']=filter_row['inflation_rate']

In [96]:
average_inflation_rate=filter_row.groupby('client_id')['inflation_rate'].mean()

In [97]:
average_inflation_rate

client_id
1089413096    3.84
1298566280    7.71
2315920532    3.84
2490056820    4.69
2609337231    3.10
3157098196    7.32
3183675157    7.32
3185596104    4.40
3325348894    7.71
3510240337    3.10
3683504527    1.17
3758633299    0.76
4194777577    7.32
4280387012    4.40
4309371709    0.76
4343385571    2.78
4519356806    5.77
4687291312    3.84
4760390973    6.76
5217987067    7.71
5371694837    4.40
5387264885    6.76
5443254615    4.69
5536015034    2.71
5698091148    1.43
5762095219    0.76
5980553707    7.19
5983139564    4.40
6038028440    2.78
6209923307    7.19
6292156167    7.71
6366816003    6.76
6751372012    1.17
6774252233    2.78
6955217420    7.71
7225516707    2.57
7462725203    1.17
7465144773    7.19
7744303708    4.40
7776577102    3.10
7896208406    6.76
8004867726    3.84
8155233099    4.69
8207710174    2.78
8540187780    2.57
8719792472    5.77
8884551090    5.60
8988409533    4.69
9031632460    7.71
9329180414    0.76
9598980006    3.84
9626357024    5.60
9699223737    1.17
9714663815    3.10
9842414729    4.40
Name: inflation_rate, dtype: float64

# Problem 4

#### What is the median amount paid each year for all payment methods?

solution approach:

approach is to group the rows on basis of payment year and payment date then we will find median of column amount paid

In [98]:
payment_information.dtypes

client_id           int64
payment_date       object
amount_paid       float64
payment_method     object
dtype: object

since our payment_date column is in object format and we need to group rows on basis of year also, so we need to extract the year from the payment date by converting it to datetime format and extracting the date from it

In [99]:
payment_information['payment_date']=pd.to_datetime(payment_information['payment_date'])

In [100]:
payment_information['year']=payment_information['payment_date'].dt.year

group the rows on basis of year and payment information

In [101]:
payment_information_group=payment_information.groupby(['year','payment_method'])

In [102]:
payment_information_group['amount_paid'].median().reset_index()

    year payment_method  amount_paid
0   2018  Bank Transfer       281.65
1   2018          Check       216.60
2   2018    Credit Card       229.15
3   2019  Bank Transfer       184.20
4   2019          Check       410.20
5   2019    Credit Card       401.90
6   2020  Bank Transfer       225.10
7   2020          Check       413.10
8   2020    Credit Card       285.25
9   2021  Bank Transfer       255.30
10  2021          Check       435.10
11  2021    Credit Card       208.70
12  2022  Bank Transfer       196.50
13  2022          Check       275.50
14  2022    Credit Card       326.20